<%- include('./partials/header') %>

<h4>NYC's Definitive <span style="color: firebrick"> Pizza</span> Power Rankings</h4>
<br>
<button onclick="window.location.href = '/auth/google'" class="login">LOG IN <div></div><img src="https://i.imgur.com/FHjYyi0.png" style="max-width: 25px;" style="padding: 5px"></button>

<%- include('./partials/footer') %>