<%- include('./partials/header') %>

<h5>NYC's Definitive <span style="color: firebrick"> Pizza</span> Power Rankings</h5>
<br>
  <table>
  <thead>
    <tr>
      <th>PIZZERIA </th>
      <th>|</th>
      <th>BOROUGH </th>
      <th>|</th>
      <th>ADDRESS </th>
      <th>|</th>
      <th>OPEN TIL </th>
      <th>|</th>
      <th>VEGAN FRIENDLY?</th>
      <th></th>
      <th>| RATING </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td></td>
        <td>|</td>
        <td></td>
        <td>|</td>
        <td></td>
        <td>|</td>
        <td></td>
        <td>|</td>
        <td></td>
        <td></td>
        <td>|</td>
    </tr>


  </tbody>
</table>

<%- include('./partials/footer') %>