<%- include('./partials/header') %>

    <!-- <h3>Welcome to <span style="color: firebrick"><%= title %></span></h3> -->
    <h5>NYC's Definitive <span style="color: firebrick"> Pizza</span> Power Rankings</h5>

<%- include('./partials/footer') %>