<%- include('./partials/header') %>

<h4>NYC's Definitive <span style="color: firebrick"> Pizza</span> Power Rankings</h4>
<br>
<!-- <button onclick="window.location.href = '/pizzerias'">ENTER</button> -->

<%- include('./partials/footer') %>