* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  display: grid;
  /* ** mobile first - single column ** */
  grid-template-columns: 1fr;
  grid-template-columns: 5;
  grid-template-rows: 
  "hdr"
  "nav"
  "table"
  "ftr"
}

body > nav {
  background-color: rgba(251, 200, 200, 0.86);
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 10px 10px 0 10px;
  border: 2px double firebrick;
}

nav {
  height: 42px;
  text-overflow: hidden;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

a {
  color:crimson;
}

nav:hover {
  background-color: rgba(222, 155, 170, 0.42);
}

a:hover {
  color: whitesmoke;
  text-shadow: -.25px .25px black;
}

nav > a:hover {
  color:firebrick;
}

h2 {
  color: crimson;
  text-shadow: -.25px .25px whitesmoke, -.5px .5px black;
  font-size: 28px;
}

h3 {
  color: rgb(218, 63, 94);
  text-shadow: -.25px .25px whitesmoke, -.5px .5px black;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  text-shadow: -.25px .25px whitesmoke, -.5px .5px black;

}

h5 {
  font-size: 14px;
}

#wholePie {
text-align: center;
}

thead {
  background-color: rgb(250, 183, 183);
  color: crimson;
  text-shadow: -.25px .25px whitesmoke, -.5px .5px black;
  text-align: center;
  font-size: 18px;
}

tbody {
  background-color: rgb(248, 219, 219);
  text-align: center;
  font-size: 14px;
}

th {
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
}

td {
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

td:hover {
  background-color: rgba(216, 161, 173, 0.66);
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 173ms ease-in;
}

input[type="submit"]:hover {
  background-color: rgb(248, 219, 219);
  color: crimson;
  transform: scale(1.15);
  transition: transform 173ms ease-in;
  border: 1px solid firebrick;
}


#new-form *, #add-reviewform * {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 4rem;
  margin-left: auto;
  
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

button {
  border: 1px solid firebrick;
  color: firebrick;
  font-size: 14px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(248, 219, 219);
  color: crimson;
  transform: scale(1.15);
  transition: transform 173ms ease-in;
  border: 1px solid firebrick;
}

.login {
  position: relative;
  background-color: firebrick;
  color: whitesmoke;
  width: 173px;
  height: 66px;
  border: 2px double whitesmoke;
  border-radius: 5px;
  margin-bottom: 20px;
}

#add-review-form input[type="submit"] {
  border: 1px solid firebrick;
  color: firebrick;
  font-size: 14px;
  border-radius: 5px;
}

footer {
  font-size: 12px;
}

footer > a:hover {
  color: firebrick;
  font-size: 13px;
}

