<%- include('../partials/header') %>

<h3>The Whole Pie (all pizzerias)</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Borough</th>
      <th>Address</th>
      <th>Open Until</th>
      <th>Got Vegan?</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
 
    
    <tr>
      <td>Carmine's</td>
       <td>Brooklyn</td>
       <td>358 Graham Ave</td>
       <td>9:15pm</td>
       <td>Yasss</td>
       <td>4.8</td>
     </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>

