<%- include('../partials/header') %>

<h3>The Whole Pie (all pizzerias)</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Borough</th>
      <th>Address</th>
      <th>Open Til?</th>
      <th>Got Vegan?</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>

        
    <tr>
      <td>Carmine's</td>
       <td>Brooklyn</td>
       <td>258 Graham Ave</td>
       <td>9:15pm</td>
       <td>Yasss</td>
       <td>4.8</td>
     </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>

<!-- GET THIS WORKIN BUD -->
<!-- pizzerias.forEach(function(p) {
  <tr>
    <td> p.name </td>
    <td> p.borough </td>
    <td> p.address </td>
    <td> p.openTil </td>
    <td> p.vegan ? "Yasss" : "Nah"</td> -->
    <!-- finish the ternary expression to display 'Yes' or 'Nope' -->
    <!-- <td> p.rating </td>
    </tr>
   }); -->