<%- include('../partials/header') %>

<h4 style="text-align: left;">Add a <span style="color: crimson">New Pizzeria</span> to Slice</h4>
<form id="new-form" action="/pizzerias" method="POST" style="text-align: left;">
  <label>Name: 
    <input type="text" name="name">
  </label><br>
  <label>Borough: 
    <select name="borough">
      <option value="The Bronx">The Bronx</option>
      <option value="Brooklyn" selected>Brooklyn</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Queens">Queens</option>
      <option value="Staten Island">Staten Island</option>
      <option value="Long Island">Long Island</option>
      <option value="Westchester">Westchester</option>
      <option value="Jers">Jers</option>
      <option value="Connecticut">Connecticut</option>
    </select>
    </label><br>
    <label>Address:   
      <input type="text" name="address">
    </label><br>
  <label>Open Til: 
    <input type="time" name="openTil">
  </label><br>
  <label>Vegan Friendly?
    <input type="checkbox" name="vegan" checked>
  </label><br>

  <br>
  <button type="submit">Add Pizzeria</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>